.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .container {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: darkred;
    height: 46rem;
    width: 70%;
    margin: auto;
}

.logo-container {
    position: relative;
    top: 2%;
    left: 2%;
}

.App {
    position: relative;
    top: 3%;
    left: 2%;
    height: 85%;
    width: 95%;

}

.specialsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 1.5rem 0 0 2rem;

}

.special-button {
    border-radius: 10rem;
    background-color: navy;
    width: 30%;
    height: 5rem;
    text-align: center;
    color: white;
    font-size: 3.5rem;
    padding-top: .5rem;
}
.special-button:hover {
    cursor: pointer;
}

.operatorsContainer {
    position: absolute;
    width: 20%;
    top: 20%;
    right: 5%;
}

.operator-button {
    background-color: steelblue;
    color: white;
    border-radius: 10rem;
    height: 6rem;
    text-align: center;
    font-size: 4.5rem;
    margin-top: .5rem;
}
.operator-button:hover {
    cursor: pointer;
}

.numbersContainer {
    width: 70%;
    height: 25rem;
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    margin-left: .2rem;
}

.number-button {
    background-color: cornflowerblue;
    height: 6rem;
    width: 30%;
    color: white;
    border-radius: 15rem;
    text-align: center;
    font-size: 4.5rem;
    margin-left: .5rem;
}
.number-button:hover {
    cursor: pointer;
}
.zeroNum {
    width: 50%;
}